# Environment variables for the project
PORT=8001
VERSION=0.8.0

# Output directory for the built files; can be overridden by setting the DIST_DIR environment variable
DIST_DIR=./dist

# Source directory for the project; can be overridden by setting the SRC_DIR environment variable
SRC_DIR=./src